**Note: Please do not change the file name of this notebook.**

In [15]:
your_name = "Marta Gonzalez"  
your_uid = "115350793"

# Data Manipulation Homeworks

Let's practice our data manipulation skills on a restaurant rating dataset. The dataset consists of several csv file.

- `ratings.csv`  -- consumers' ratings for a restaurant.
- `userprofile.csv` -- consumers' profile information.
- `cuisine.csv` -- the cuisine provided by each restaurant
- `parking.csv` -- parking information of each restaurant.

Let's start by loading the data and examine the first few rows of each table.

In [16]:
import pandas as pd
import numpy as np

In [17]:
# load data to dataframe
ratings = pd.read_csv('./data/ratings.csv')
userprofile = pd.read_csv('./data/userprofile.csv')
cuisine = pd.read_csv('./data/cuisine.csv')
parking = pd.read_csv('./data/parking.csv')

Let's first examine the first few rows of each table.

In [18]:
ratings.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [19]:
userprofile.head()

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,False,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,False,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,False,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,False,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69

In [20]:
cuisine.head()

   placeID         cuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [21]:
parking.head()

   placeID parking_lot
0   135111      public
1   135110        none
2   135109        none
3   135108        none
4   135107        none

### Exercise 0 (0 pts)

The following exercise is to give you a flavor of the autograded assignment. We have provided the correct answer. All you need to do is to paste the provided answer under the `# YOUR CODE HERE` and delete `raise NotImplementedError()`. This function obtains the shape of the input `dataframe`. If you implement the function correctly, it will pass the `assert` statement in the following code blocks. 

The `assert` statement evalaute whether the boolean statement after it is correct or not. If the statement is True, `assert` returns nothing. But if the statement is False, the assert will return an exception. The autograding system relies on the assert statements to grade your assignments. Please do not try to temper the test blocks to game the system, as the autograder will detect such changes and complain.

In [22]:
# The correct answer for this exercise is
# shape = dataframe.shape

def get_shape(dataframe):
    # YOUR CODE HERE
    shape = dataframe.shape
    return shape

In [23]:
get_shape(userprofile)

(138, 19)

In [24]:
# we will rely on code blocks like this one to test whether you have complete your code correctly.
assert get_shape(parking) == (702, 2)
assert get_shape(userprofile) == (138, 19)

## Filtering

To better understand users' preference, we may need to examine a subset of users meeting certain criteria, so let's practice using filtering as selection here.

In [25]:
# example: we can use the following code to examine users who listed "retro" as personality
userprofile[userprofile.interest == "retro"]

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
12,U1013,22.174624,-100.993873,False,abstemious,no preference,friends,public,widow,independent,1982,retro,thrifty-protector,none,professional,blue,80,medium,1.75
16,U1017,18.952615,-99.201616,False,casual drinker,formal,family,public,single,NaN,1991,retro,hunter-ostentatious,none,professional,orange,79,medium,1.79
26,U1027,22.165150,-100.987015,True,social drinker,no preference,NaN,public,single,independent,1989,retro,thrifty-protector,Catholic,student,purple,60,low,1.65
45,U1046,22.144415,-100.933097,False,social drinker,no preference,friends,car owner,single,independent,1990,retro,hard-worker,Catholic,student,black,82,medium,1.84
46,U1047,22.142429,-100.949147,False,abstemious,no preference,family,public,single,independent,1992,retro,thrifty-protector,Catholic,student,purple,60,medium,1.63
135,U1136,22.149607,-100.997235,True,social drinker,no preference,friends,car owner,single,independent,1990,retro,thrifty-protector,Catholic,student,black,50,low,1.60

### Exercise 1 (1 pt)
Please complete the `user_with_birth_year` function to return a subset of the `userprofile` dataframe with the `birth_year` equal to `y`. We have provided the explicit `assert` statements to help you evaluate your answer.

In [63]:
# Exercise 1:
def user_with_birth_year(y):
    # YOUR CODE HERE
    return userprofile[userprofile.birth_year == y]

In [64]:
# You can test your code with the following code, you should see three users: U1035, U1041, U1062
user_with_birth_year(1985)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
34,U1035,18.839671,-99.223897,True,casual drinker,no preference,friends,car owner,single,independent,1985,variety,hunter-ostentatious,none,student,red,69,medium,1.75
40,U1041,18.935191,-99.236240,False,abstemious,no preference,friends,on foot,single,independent,1985,eco-friendly,hunter-ostentatious,Catholic,professional,white,40,medium,1.62
61,U1062,22.195826,-101.006317,False,casual drinker,informal,friends,car owner,single,independent,1985,variety,hard-worker,Catholic,student,yellow,88,medium,1.68

In [65]:
# test cell
assert (user_with_birth_year(1985)['userID'].unique() == np.array(['U1035', 'U1041', 'U1062'])).all()
assert (user_with_birth_year(1982)['userID'].unique() == np.array(['U1013', 'U1020', 'U1117'])).all()

### Aggregation

In [66]:
# here is an example to obtain the min weight of the users:
userprofile.weight.min()

40

### Exercise 2 (1 pt)

Please complete the `mean_weight` function to calculate the mean weight of the users who listed the provided `transport_mode`. Again, we have made all the assert statements explicit so that you know whether your answer is correct or not.

In [117]:
def mean_weight(transport_mode):
    # YOUR CODE HERE
    return userprofile[userprofile.transport == transport_mode].weight.mean()

In [118]:
assert abs(mean_weight("car owner") - 69.51428571428572) <1e-6
assert abs(mean_weight("on foot") - 65.42857142857143) <1e-6
assert abs(mean_weight("public") - 63.53658536585366) <1e-6

### Merge

### Exercise 3 (1 pt)

In this exercise, let's practice different ways of merging two tables.  We want to merge two tables about restaurants, cuisine and parking, and check the sizes of the merged tables.  However, because the two dataframes do not fully overlap with each other, let's try different ways of merging:

1. Only restaurants showing up in both dataframes counts
2. All restaurants in the cuisine dataframe should counts
3. All restaurants in the parking dataframe should counts
4. Restaurants shown up in either dataframe should counts

We have implemented the first way of merging for you, and provided the currect sizes of different merging. Now it is your job to implement the missing codes.

In [206]:
def merge_exercise():
    merge1 = cuisine.merge(parking)
    ans1 = merge1.shape[0]
    # YOUR CODE HERE
    merge2 = cuisine.merge(parking, how = "left")
    ans2 = merge2.shape[0]
    merge3 = parking.merge(cuisine, how = "left")
    ans3 = merge3.shape[0]
    merge4 = cuisine.merge(parking, how = "outer")
    ans4 = merge4.shape[0]
    merge5 = cuisine.merge(parking, how = "left")
    ans5 = merge5.shape[0]
    return ans1, ans2, ans3, ans4, ans5

In [207]:
merge_exercise()

(647, 958, 812, 1123, 3)

In [189]:
assert (merge_exercise() == (647, 958, 812, 1123))

### Bonus exercise (0.5 pts)

The sizes of cuisine and parking are 916 and 702 correspondingly, but several of the merged dataframes have more rows than the two numbers. Can you think about why? Write your answer in the following block (double-click to make it editable).

Hint: To start, you can write some codes to identify the "extra" rows. Which restaurants are responsible for those "extra" rows, and why?

YOUR ANSWER HERE
Number 2 is counting all of the restaurants that appear in the cuisine dataframe merged with the parking dataframe where possible. If a restaurant matches more than one row in the parking dataframe, it will return as 2 counts of that row. This also occurs in number 3. It is due to the fact that it is counting all of the instances where the restaurants match and not the "distinct" instances. This accounts for the "extra" rows.

### Exercise 4 (1 pt)

let's switch our attention to the ratings dataset.

Let's first define a new column called `total_rating` which is the sum of the three columns of the ratings dataframe (`rating`, `food_rating`, and `service_rating`), and then calculate the mean "total_rating" for each restaurant. You should return the calculated ratings as a new dataframe with two columns, a "placeID" column and a "mean_rating" column.

In [229]:
def restaurant_rating():
    # Ideally, it is a good practice to keep the original data intact and create copies when modifying, 
    # such as adding new columns. In this exercise, it is OK to add the new column to the ratings dataframe.
    # YOUR CODE HERE
    ratings['total_rating'] = ratings['rating'] + ratings['food_rating'] + ratings['service_rating']
    df = ratings.groupby('placeID').mean().reset_index()
    df.drop('rating', inplace = True, axis = 1)
    df.drop('food_rating', inplace = True, axis = 1)
    df.drop('service_rating', inplace = True, axis = 1)
    df.columns = ['placeID', 'mean_rating']
    return df

In [230]:
returned_result = restaurant_rating()
assert returned_result.shape == (130, 2)
assert returned_result.columns.to_list() == ["placeID", 'mean_rating']

returned_result.set_index("placeID", inplace=True)
assert abs(returned_result.loc[132560] - 1.750000)[0] < 1e-6
assert abs(returned_result.loc[135104] - 3.142857)[0] < 1e-6

Congratulations on finishing your first assignment!